<?xml version="1.0" encoding="utf-8"?>
<!--

This file is used by the publish/package process of your Web project. You can customize the behavior of this process

by customizing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121.

-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LaunchASiteUrlAfterPublish>False</LaunchASiteUrlAfterPublish>
    <SiteUrlToLaunchAfterPublish />
    <publishUrl>D:\diera\output\preweb\micewize</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <File Include="App_Code/Pager.cshtml">
      <publishTime>04/23/2012 22:21:47</publishTime>
    </File>
    <File Include="App_Code/Script.cshtml">
      <publishTime>04/23/2012 22:21:47</publishTime>
    </File>
    <File Include="bin/AntiXSSLibrary.dll">
      <publishTime>04/23/2012 21:07:52</publishTime>
    </File>
    <File Include="bin/AntiXSSLibrary.xml">
      <publishTime>04/23/2012 21:07:52</publishTime>
    </File>
    <File Include="bin/AsyncCtpLibrary.dll">
      <publishTime>04/23/2012 21:18:33</publishTime>
    </File>
    <File Include="bin/Castle.Core.dll">
      <publishTime>04/23/2012 21:19:38</publishTime>
    </File>
    <File Include="bin/Castle.Core.xml">
      <publishTime>04/23/2012 21:19:38</publishTime>
    </File>
    <File Include="bin/Esent.Interop.dll">
      <publishTime>04/23/2012 21:18:33</publishTime>
    </File>
    <File Include="bin/Esent.Interop.pdb">
      <publishTime>04/23/2012 21:18:33</publishTime>
    </File>
    <File Include="bin/Esent.Interop.xml">
      <publishTime>04/23/2012 21:18:33</publishTime>
    </File>
    <File Include="bin/HtmlSanitizationLibrary.dll">
      <publishTime>04/23/2012 21:07:52</publishTime>
    </File>
    <File Include="bin/HtmlSanitizationLibrary.xml">
      <publishTime>04/23/2012 21:07:52</publishTime>
    </File>
    <File Include="bin/ICSharpCode.NRefactory.dll">
      <publishTime>04/23/2012 21:18:33</publishTime>
    </File>
    <File Include="bin/Lucene.Net.dll">
      <publishTime>04/23/2012 21:18:33</publishTime>
    </File>
    <File Include="bin/Lucene.Net.pdb">
      <publishTime>04/23/2012 21:18:33</publishTime>
    </File>
    <File Include="bin/Lucene.Net.xml">
      <publishTime>04/23/2012 21:18:33</publishTime>
    </File>
    <File Include="bin/MiceWise.dll">
      <publishTime>04/27/2012 11:37:41</publishTime>
    </File>
    <File Include="bin/MiceWise.pdb">
      <publishTime>04/27/2012 11:37:41</publishTime>
    </File>
    <File Include="bin/MiceWiseData.dll">
      <publishTime>04/27/2012 11:37:40</publishTime>
    </File>
    <File Include="bin/MiceWiseData.pdb">
      <publishTime>04/27/2012 11:37:40</publishTime>
    </File>
    <File Include="bin/Microsoft.Web.Mvc.dll">
      <publishTime>04/23/2012 21:08:04</publishTime>
    </File>
    <File Include="bin/Newtonsoft.Json.dll">
      <publishTime>04/23/2012 21:18:32</publishTime>
    </File>
    <File Include="bin/Newtonsoft.Json.pdb">
      <publishTime>04/23/2012 21:18:32</publishTime>
    </File>
    <File Include="bin/Newtonsoft.Json.xml">
      <publishTime>04/23/2012 21:18:32</publishTime>
    </File>
    <File Include="bin/NLog.dll">
      <publishTime>04/23/2012 21:08:06</publishTime>
    </File>
    <File Include="bin/NLog.xml">
      <publishTime>04/23/2012 21:08:06</publishTime>
    </File>
    <File Include="bin/Raven.Abstractions.dll">
      <publishTime>04/23/2012 21:18:33</publishTime>
    </File>
    <File Include="bin/Raven.Abstractions.pdb">
      <publishTime>04/23/2012 21:18:33</publishTime>
    </File>
    <File Include="bin/Raven.Client.Embedded.dll">
      <publishTime>04/23/2012 21:18:33</publishTime>
    </File>
    <File Include="bin/Raven.Client.Embedded.pdb">
      <publishTime>04/23/2012 21:18:33</publishTime>
    </File>
    <File Include="bin/Raven.Client.Embedded.xml">
      <publishTime>04/23/2012 21:18:33</publishTime>
    </File>
    <File Include="bin/Raven.Client.Lightweight.dll">
      <publishTime>04/23/2012 21:18:34</publishTime>
    </File>
    <File Include="bin/Raven.Client.Lightweight.pdb">
      <publishTime>04/23/2012 21:18:34</publishTime>
    </File>
    <File Include="bin/Raven.Client.Lightweight.xml">
      <publishTime>04/23/2012 21:18:34</publishTime>
    </File>
    <File Include="bin/Raven.Database.dll">
      <publishTime>04/23/2012 21:18:34</publishTime>
    </File>
    <File Include="bin/Raven.Database.pdb">
      <publishTime>04/23/2012 21:18:34</publishTime>
    </File>
    <File Include="bin/Raven.Munin.dll">
      <publishTime>04/23/2012 21:18:34</publishTime>
    </File>
    <File Include="bin/Raven.Munin.pdb">
      <publishTime>04/23/2012 21:18:34</publishTime>
    </File>
    <File Include="bin/Raven.Storage.Esent.dll">
      <publishTime>04/23/2012 21:18:34</publishTime>
    </File>
    <File Include="bin/Raven.Storage.Esent.pdb">
      <publishTime>04/23/2012 21:18:34</publishTime>
    </File>
    <File Include="bin/Raven.Storage.Managed.dll">
      <publishTime>04/23/2012 21:18:34</publishTime>
    </File>
    <File Include="bin/Raven.Storage.Managed.pdb">
      <publishTime>04/23/2012 21:18:34</publishTime>
    </File>
    <File Include="bin/Spatial.Net.dll">
      <publishTime>04/23/2012 21:18:34</publishTime>
    </File>
    <File Include="bin/SpellChecker.Net.dll">
      <publishTime>04/23/2012 21:18:34</publishTime>
    </File>
    <File Include="bin/SpellChecker.Net.xml">
      <publishTime>04/23/2012 21:18:34</publishTime>
    </File>
    <File Include="bin/vlko.core.dll">
      <publishTime>04/23/2012 21:08:10</publishTime>
    </File>
    <File Include="bin/vlko.core.RavenDB.dll">
      <publishTime>04/23/2012 21:19:38</publishTime>
    </File>
    <File Include="bin/WebActivator.dll">
      <publishTime>04/23/2012 21:07:57</publishTime>
    </File>
    <File Include="CodeTemplates/AddView/CSHTML/Create.cshtml">
      <publishTime>04/23/2012 21:07:39</publishTime>
    </File>
    <File Include="CodeTemplates/AddView/CSHTML/Delete.cshtml">
      <publishTime>04/23/2012 21:07:42</publishTime>
    </File>
    <File Include="CodeTemplates/AddView/CSHTML/Details.cshtml">
      <publishTime>04/23/2012 21:07:43</publishTime>
    </File>
    <File Include="CodeTemplates/AddView/CSHTML/Edit.cshtml">
      <publishTime>04/23/2012 21:07:44</publishTime>
    </File>
    <File Include="CodeTemplates/AddView/CSHTML/Empty.cshtml">
      <publishTime>04/23/2012 21:07:45</publishTime>
    </File>
    <File Include="CodeTemplates/AddView/CSHTML/List.cshtml">
      <publishTime>04/23/2012 21:07:48</publishTime>
    </File>
    <File Include="CodeTemplates/AddView/CSHTML/ListPaged.cshtml">
      <publishTime>04/23/2012 21:07:52</publishTime>
    </File>
    <File Include="Content/Enhanced.css">
      <publishTime>04/29/2012 23:11:48</publishTime>
    </File>
    <File Include="Content/Enhanced.min.css">
      <publishTime>04/29/2012 23:11:48</publishTime>
    </File>
    <File Include="Content/images/action.png">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Content/images/add.png">
      <publishTime>04/25/2012 23:32:58</publishTime>
    </File>
    <File Include="Content/images/author.gif">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Content/images/change.png">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Content/images/comment.gif">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Content/images/comment.png">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Content/images/comments.png">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Content/images/device-delim.png">
      <publishTime>04/26/2012 22:41:44</publishTime>
    </File>
    <File Include="Content/images/header-split.png">
      <publishTime>04/25/2012 22:08:38</publishTime>
    </File>
    <File Include="Content/images/loading.gif">
      <publishTime>03/08/2012 17:56:16</publishTime>
    </File>
    <File Include="Content/images/mouse.png">
      <publishTime>04/26/2012 22:40:38</publishTime>
    </File>
    <File Include="Content/images/note-main.gif">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Content/images/note.png">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Content/images/publish.gif">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Content/images/reply.gif">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Content/images/rss.png">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Content/images/search.png">
      <publishTime>04/25/2012 23:32:08</publishTime>
    </File>
    <File Include="Content/images/sort-az.gif">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Content/images/sort-tree.gif">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Content/images/sort-za.gif">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Content/images/tablet.png">
      <publishTime>04/26/2012 22:39:49</publishTime>
    </File>
    <File Include="Content/images/timeline.gif">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Content/images/twitter.png">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Content/images/ui-bg_flat_0_aaaaaa_40x100.png">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Content/images/ui-bg_flat_100_1ba1e2_40x100.png">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Content/images/ui-bg_flat_100_3a85aa_40x100.png">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Content/images/ui-bg_flat_100_ffffff_40x100.png">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Content/images/ui-bg_inset-soft_95_fef1ec_1x100.png">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Content/images/ui-icons_000000_256x240.png">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Content/images/ui-icons_454545_256x240.png">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Content/images/ui-icons_cd0a0a_256x240.png">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Content/images/ui-icons_ffffff_256x240.png">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Content/images/vlko-logo.gif">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Content/images/vlko-logo.png">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Content/jquery-ui.custom.css">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Content/Site.css">
      <publishTime>04/29/2012 22:48:18</publishTime>
    </File>
    <File Include="Content/Site.min.css">
      <publishTime>04/29/2012 22:48:18</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_flat_0_aaaaaa_40x100.png">
      <publishTime>04/23/2012 21:08:03</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_flat_75_ffffff_40x100.png">
      <publishTime>04/23/2012 21:08:03</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_55_fbf9ee_1x400.png">
      <publishTime>04/23/2012 21:08:03</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_65_ffffff_1x400.png">
      <publishTime>04/23/2012 21:08:03</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_75_dadada_1x400.png">
      <publishTime>04/23/2012 21:08:03</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_75_e6e6e6_1x400.png">
      <publishTime>04/23/2012 21:08:03</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_95_fef1ec_1x400.png">
      <publishTime>04/23/2012 21:08:03</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_highlight-soft_75_cccccc_1x100.png">
      <publishTime>04/23/2012 21:08:03</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_222222_256x240.png">
      <publishTime>04/23/2012 21:08:03</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_2e83ff_256x240.png">
      <publishTime>04/23/2012 21:08:03</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_454545_256x240.png">
      <publishTime>04/23/2012 21:08:03</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_888888_256x240.png">
      <publishTime>04/23/2012 21:08:02</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_cd0a0a_256x240.png">
      <publishTime>04/23/2012 21:08:02</publishTime>
    </File>
    <File Include="Content/themes/base/jquery-ui.css">
      <publishTime>04/23/2012 21:08:02</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.accordion.css">
      <publishTime>04/23/2012 21:08:02</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.all.css">
      <publishTime>04/23/2012 21:08:02</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.autocomplete.css">
      <publishTime>04/23/2012 21:08:02</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.base.css">
      <publishTime>04/23/2012 21:08:02</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.button.css">
      <publishTime>04/23/2012 21:08:02</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.core.css">
      <publishTime>04/23/2012 21:08:02</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.datepicker.css">
      <publishTime>04/23/2012 21:08:02</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.dialog.css">
      <publishTime>04/23/2012 21:08:02</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.progressbar.css">
      <publishTime>04/23/2012 21:08:02</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.resizable.css">
      <publishTime>04/23/2012 21:08:02</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.selectable.css">
      <publishTime>04/23/2012 21:08:02</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.slider.css">
      <publishTime>04/23/2012 21:08:02</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.tabs.css">
      <publishTime>04/23/2012 21:08:02</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.theme.css">
      <publishTime>04/23/2012 21:08:02</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-bg_flat_0_aaaaaa_40x100.png">
      <publishTime>04/23/2012 21:08:02</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-bg_flat_75_ffffff_40x100.png">
      <publishTime>04/23/2012 21:08:02</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-bg_glass_55_fbf9ee_1x400.png">
      <publishTime>04/23/2012 21:08:02</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-bg_glass_65_ffffff_1x400.png">
      <publishTime>04/23/2012 21:08:02</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-bg_glass_75_dadada_1x400.png">
      <publishTime>04/23/2012 21:08:02</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-bg_glass_75_e6e6e6_1x400.png">
      <publishTime>04/23/2012 21:08:02</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-bg_glass_95_fef1ec_1x400.png">
      <publishTime>04/23/2012 21:08:02</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-bg_highlight-soft_75_cccccc_1x100.png">
      <publishTime>04/23/2012 21:08:02</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-icons_222222_256x240.png">
      <publishTime>04/23/2012 21:08:02</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-icons_2e83ff_256x240.png">
      <publishTime>04/23/2012 21:08:02</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-icons_454545_256x240.png">
      <publishTime>04/23/2012 21:08:01</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-icons_888888_256x240.png">
      <publishTime>04/23/2012 21:08:01</publishTime>
    </File>
    <File Include="Content/themes/base/minified/images/ui-icons_cd0a0a_256x240.png">
      <publishTime>04/23/2012 21:08:01</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery-ui.min.css">
      <publishTime>04/23/2012 21:08:01</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.accordion.min.css">
      <publishTime>04/23/2012 21:08:01</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.all.min.css">
      <publishTime>04/23/2012 21:08:01</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.autocomplete.min.css">
      <publishTime>04/23/2012 21:08:01</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.base.min.css">
      <publishTime>04/23/2012 21:08:01</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.button.min.css">
      <publishTime>04/23/2012 21:08:01</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.core.min.css">
      <publishTime>04/23/2012 21:08:01</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.datepicker.min.css">
      <publishTime>04/23/2012 21:08:01</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.dialog.min.css">
      <publishTime>04/23/2012 21:08:01</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.progressbar.min.css">
      <publishTime>04/23/2012 21:08:01</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.resizable.min.css">
      <publishTime>04/23/2012 21:08:01</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.selectable.min.css">
      <publishTime>04/23/2012 21:08:01</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.slider.min.css">
      <publishTime>04/23/2012 21:08:01</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.tabs.min.css">
      <publishTime>04/23/2012 21:08:01</publishTime>
    </File>
    <File Include="Content/themes/base/minified/jquery.ui.theme.min.css">
      <publishTime>04/23/2012 21:08:01</publishTime>
    </File>
    <File Include="Global.asax">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="packages.config">
      <publishTime>04/23/2012 21:19:49</publishTime>
    </File>
    <File Include="Scripts/Common.js">
      <publishTime>04/25/2012 08:26:02</publishTime>
    </File>
    <File Include="Scripts/Grid.js">
      <publishTime>04/24/2012 21:19:23</publishTime>
    </File>
    <File Include="Scripts/html5.js">
      <publishTime>02/29/2012 12:50:34</publishTime>
    </File>
    <File Include="Scripts/jquery-1.6.4-vsdoc.js">
      <publishTime>04/23/2012 21:08:00</publishTime>
    </File>
    <File Include="Scripts/jquery-1.6.4.js">
      <publishTime>04/23/2012 21:08:00</publishTime>
    </File>
    <File Include="Scripts/jquery-1.6.4.min.js">
      <publishTime>04/23/2012 21:08:00</publishTime>
    </File>
    <File Include="Scripts/jquery-ui-1.8.16.js">
      <publishTime>04/23/2012 21:08:01</publishTime>
    </File>
    <File Include="Scripts/jquery-ui-1.8.16.min.js">
      <publishTime>04/23/2012 21:08:01</publishTime>
    </File>
    <File Include="Scripts/jquery.ba-bbq.js">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Scripts/jquery.ui.datepicker-sk.js">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Scripts/jquery.unobtrusive-ajax.js">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Scripts/jquery.unobtrusive-ajax.min.js">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Scripts/jquery.validate-vsdoc.js">
      <publishTime>04/23/2012 21:08:03</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.js">
      <publishTime>04/23/2012 21:08:03</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.min.js">
      <publishTime>04/23/2012 21:08:03</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.unobtrusive.custom.js">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Scripts/MicrosoftAjax.debug.js">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Scripts/MicrosoftAjax.js">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Scripts/MicrosoftMvcAjax.debug.js">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Scripts/MicrosoftMvcAjax.js">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Scripts/MicrosoftMvcValidation.debug.js">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Scripts/MicrosoftMvcValidation.js">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Scripts/Pager.js">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Scripts/qtip/jquery.qtip.css">
      <publishTime>04/27/2012 00:44:49</publishTime>
    </File>
    <File Include="Scripts/qtip/jquery.qtip.js">
      <publishTime>04/24/2012 22:09:37</publishTime>
    </File>
    <File Include="Scripts/Upload/ajaxupload.js">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Views/Account/ChangePassword.cshtml">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Views/Account/ChangePasswordSuccess.cshtml">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Views/Account/ConfirmRegistration.cshtml">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Views/Account/ConfirmResetPassword.cshtml">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Views/Account/LogOn.cshtml">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Views/Account/NotAuthorized.cshtml">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Views/Account/NotValidToken.cshtml">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Views/Account/Register.cshtml">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Views/Account/ResetPassword.cshtml">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Views/Celebrity/Create.cshtml">
      <publishTime>04/26/2012 09:20:49</publishTime>
    </File>
    <File Include="Views/Celebrity/Delete.cshtml">
      <publishTime>04/23/2012 23:43:29</publishTime>
    </File>
    <File Include="Views/Celebrity/Edit.cshtml">
      <publishTime>04/26/2012 09:20:32</publishTime>
    </File>
    <File Include="Views/Celebrity/Index.cshtml">
      <publishTime>04/24/2012 00:08:35</publishTime>
    </File>
    <File Include="Views/Device/Create.cshtml">
      <publishTime>04/23/2012 22:24:29</publishTime>
    </File>
    <File Include="Views/Device/Delete.cshtml">
      <publishTime>04/23/2012 23:09:37</publishTime>
    </File>
    <File Include="Views/Device/Edit.cshtml">
      <publishTime>04/23/2012 22:53:51</publishTime>
    </File>
    <File Include="Views/Device/Index.cshtml">
      <publishTime>04/23/2012 23:08:24</publishTime>
    </File>
    <File Include="Views/Home/Add.cshtml">
      <publishTime>04/27/2012 01:04:06</publishTime>
    </File>
    <File Include="Views/Home/Index.cshtml">
      <publishTime>04/27/2012 08:57:33</publishTime>
    </File>
    <File Include="Views/Shared/DisplayTemplates/Boolean.ascx">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Views/Shared/DisplayTemplates/Collection.ascx">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Views/Shared/DisplayTemplates/Decimal.ascx">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Views/Shared/DisplayTemplates/EmailAddress.ascx">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Views/Shared/DisplayTemplates/HiddenInput.ascx">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Views/Shared/DisplayTemplates/Html.ascx">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Views/Shared/DisplayTemplates/Object.ascx">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Views/Shared/DisplayTemplates/String.ascx">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Views/Shared/DisplayTemplates/Url.ascx">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Views/Shared/EditorTemplates/Boolean.ascx">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Views/Shared/EditorTemplates/Collection.ascx">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Views/Shared/EditorTemplates/Date.cshtml">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Views/Shared/EditorTemplates/Decimal.ascx">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Views/Shared/EditorTemplates/HiddenInput.ascx">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Views/Shared/EditorTemplates/Html.cshtml">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Views/Shared/EditorTemplates/MultilineText.ascx">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Views/Shared/EditorTemplates/Object.ascx">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Views/Shared/EditorTemplates/Password.ascx">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Views/Shared/EditorTemplates/String.ascx">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Views/Shared/Error.cshtml">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Views/Shared/LogOnUserControl.cshtml">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Views/Shared/_AjaxLayout.cshtml">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Views/Shared/_Layout.cshtml">
      <publishTime>04/29/2012 23:09:46</publishTime>
    </File>
    <File Include="Views/Web.config">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Views/_ViewStart.cshtml">
      <publishTime>04/23/2012 21:07:23</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>04/24/2012 09:08:55</publishTime>
    </File>
  </ItemGroup>
</Project>