body {
  min-width: 840px; }

#commands .add {
  margin-left: -10px; }
  #commands .add span {
    width: 400px; }
#commands .search {
  margin-right: -10px; }
  #commands .search .box {
    width: 355px; }

#designers {
  width: 840px;
  overflow-x: hidden; }
  #designers .next_page, #designers .prev_page {
    height: 200px;
    line-height: 200px; }
  #designers article, #designers .next_page, #designers .prev_page {
    float: left;
    margin-right: 10px;
    margin-left: 10px; }

body.js {
  min-width: 880px; }
  body.js #designers {
    width: 880px; }
    body.js #designers .prev_page {
      width: 860px; }
    body.js #designers .next_page, body.js #designers .prev_page {
      width: 200px;
      overflow: hidden; }
      body.js #designers .next_page span, body.js #designers .prev_page span {
        display: block;
        width: 200px;
        height: 200px;
        margin-left: 200px; }
      body.js #designers .next_page:hover span, body.js #designers .prev_page:hover span {
        background-color: black;
        color: #3f3f3f;
        margin-left: 0px; }
    body.js #designers .next_page {
      background: white url("/Content/images/next_page.png") no-repeat center center; }
    body.js #designers .prev_page {
      background: white url("/Content/images/prev_page.png") no-repeat center center; }
    body.js #designers article {
      width: 200px;
      overflow: hidden; }
      body.js #designers article .img_hover {
        display: block;
        position: absolute;
        border-bottom-width: 18px;
        border-style: solid;
        left: -15px;
        top: -9px;
        width: 218px;
        height: 200px;
        background-repeat: no-repeat;
        background-position: center center; }
      body.js #designers article img, body.js #designers article .img_hover {
        -moz-transition: all 150ms linear 0s;
        -webkit-transition: all 150ms linear 0s;
        -o-transition: all 150ms linear 0s;
        transition: all 150ms linear 0s; }
      body.js #designers article:hover img, body.js #designers article:hover .img_hover {
        border-radius: 50%;
        -moz-transition: all 150ms linear 0s;
        -webkit-transition: all 150ms linear 0s;
        -o-transition: all 150ms linear 0s;
        -ms-transition: all 150ms linear 0s;
        transition: all 150ms linear 0s; }
      body.js #designers article:hover .img_hover {
        left: 5px;
        top: 2px;
        width: 166px;
        height: 165px;
        border-width: 30px;
        background-image: url("/Content/images/search.png");
        margin: -17px; }
    body.js #designers article.js_click img, body.js #designers article.js_click .img_hover {
      display: none; }
    body.js #designers article.js_click .info {
      left: 0px; }
  body.js #top-header {
    margin-bottom: 20px; }
    body.js #top-header h1 {
      margin-bottom: 45px; }
    body.js #top-header #social {
      float: left;
      margin-top: -78px; }
  body.js #commands.js {
    margin-top: -242px;
    float: right; }
    body.js #commands.js .add, body.js #commands.js .search {
      float: right;
      position: static; }
    body.js #commands.js .add {
      width: 50px;
      text-indent: -130px;
      text-align: left;
      overflow: hidden;
      margin-right: 5px;
      margin-left: 50px;
      background-image: url("/Content/images/add.png");
      background-repeat: no-repeat;
      background-position: center center; }
      body.js #commands.js .add:hover {
        width: 180px;
        text-indent: 0px;
        background-position: 150px center;
        -moz-transition: all 150ms linear 0s;
        -webkit-transition: all 150ms linear 0s;
        -o-transition: all 150ms linear 0s;
        -ms-transition: all 150ms linear 0s;
        transition: all 150ms linear 0s; }
      body.js #commands.js .add span {
        display: inline;
        white-space: nowrap;
        background-image: none;
        width: auto;
        margin-right: 50px; }
        body.js #commands.js .add span strong {
          margin-left: 15px; }
    body.js #commands.js .search {
      width: 50px;
      text-align: right;
      white-space: nowrap;
      overflow: hidden;
      margin-right: 0px; }
      body.js #commands.js .search .box {
        display: none;
        width: 130px; }
      body.js #commands.js .search:hover {
        width: 200px;
        background-position: 100px center;
        -moz-transition: all 150ms linear 0s;
        -webkit-transition: all 150ms linear 0s;
        -o-transition: all 150ms linear 0s;
        -ms-transition: all 150ms linear 0s;
        transition: all 150ms linear 0s; }
        body.js #commands.js .search:hover .box {
          display: inline-block; }
