body {
    min-width: 840px;
}
#commands {
    .add {
        margin-left: -10px;
        span {
            width: 400px;
        }
    }
    .search {
        margin-right: -10px;
        .box {
            width: 355px;
        }
    }
}

#designers {
    width: 840px;
    overflow-x: hidden;
    .next_page, .prev_page {
        height: 200px;
        line-height: 200px;
    }
    article, .next_page, .prev_page {
        float: left;
        margin-right: 10px;
        margin-left: 10px;
    }
}
body.js {
    min-width: 880px;
    
    #designers {
        width: 880px;
        .prev_page {
            width: 860px;
            
        }
        .next_page, .prev_page {
            width: 200px;
            overflow: hidden;
            span {
                display: block;
                width: 200px;
                height: 200px;
                margin-left: 200px;
            }
            &:hover span{
                background-color: black;
	            color: #3f3f3f;
                margin-left: 0px;
            }
        }
        .next_page {
            background: white url("/Content/images/next_page.png") no-repeat center center;
        }
        .prev_page {
            background: white url("/Content/images/prev_page.png") no-repeat center center;
        }
        article {
            width: 200px;
            overflow: hidden;
            .img_hover {
                display: block;
                position: absolute;
                border-bottom-width: 18px;
                border-style: solid;
                left: -15px;
                top: -9px;
                width: 218px;
                height: 200px;
                background-repeat: no-repeat;
                background-position:center center;
             }
             img, .img_hover {
                    -moz-transition: all 150ms linear 0s;
                    -webkit-transition: all 150ms linear 0s; 
                    -o-transition: all 150ms linear 0s; 
                    transition: all 150ms linear 0s;
                }
             &:hover {
                img, .img_hover {
                    border-radius: 50%;
                    -moz-transition: all 150ms linear 0s;
                    -webkit-transition: all 150ms linear 0s; 
                    -o-transition: all 150ms linear 0s; 
                    -ms-transition: all 150ms linear 0s;
                    transition: all 150ms linear 0s;
                }
                .img_hover {
                    left: 5px;
                    top: 2px;
                    width: 166px;
                    height: 165px;
                    border-width: 30px;
                    background-image: url("/Content/images/search.png");
                    margin: -17px;
                }
            }
        }
        article.js_click{
            img, .img_hover {
                display: none;
            }
            .info {
                left: 0px;
            }
        }
    }

    #top-header {
        margin-bottom: 20px;
        h1 {
            margin-bottom: 45px;
        }
        #social {
            float:left;
            margin-top: -78px;
        }
    }
    

    #commands.js {
        margin-top: -242px;
        float: right;
        .add, .search {
            float: right;
            position: static;
        }
        .add {
            width: 50px;
            text-indent: -130px; 
            text-align: left;
            overflow: hidden;
            margin-right: 5px;
            margin-left: 50px;
            background-image: url("/Content/images/add.png");
            background-repeat: no-repeat;
            background-position: center center;
            &:hover {
                width: 180px;
                text-indent: 0px;
                background-position: 150px center;
                -moz-transition: all 150ms linear 0s;
                -webkit-transition: all 150ms linear 0s; 
                -o-transition: all 150ms linear 0s; 
                -ms-transition: all 150ms linear 0s;
                transition: all 150ms linear 0s;
            }
            
            span {
                display: inline;
                white-space: nowrap;
                background-image: none;
                width: auto;
                margin-right: 50px; 
                strong {
                    
                    margin-left: 15px;
                }
            }
        }
        .search {
            width: 50px;
            text-align:right;
            white-space: nowrap;
            overflow: hidden;
            margin-right: 0px;
            .box {
                display: none;
                width:130px;
            }
            &:hover {
                width: 200px;
                background-position: 100px center;
                -moz-transition: all 150ms linear 0s;
                -webkit-transition: all 150ms linear 0s; 
                -o-transition: all 150ms linear 0s; 
                -ms-transition: all 150ms linear 0s;
                transition: all 150ms linear 0s;
                .box {
                    display: inline-block;
                }
            }
        }
    }
}
