$bodyBackColor: #eaf2fd;
$backColor: White;
$mainColor: #1ba1e2;
$secondaryColor: #309b46;
$rareColor: #8cbf26;
$formBorder: #ccc;
$errorColor: #ff0000;
$pageHeight: 960px;
$baseFontSize: 16px;
$baseLineHeight: 1.6em;

// VARIABLES
// -------
$metroUI: true;

// Links
$linkColor: #1ba1e2;
$linkColorHover: darken($linkColor, 10);

// Griditude
$gridColumns: 16;
$gridColumnWidth: 40px;
$gridGutterWidth: 20px;
$extraSpace: 40px;
$siteWidth: ($gridColumns * $gridColumnWidth) + ($gridGutterWidth * ($gridColumns - 1));

// Baseline grid
$basefont: 16px;
$baseline: 22px;

// Color Scheme
$baseColor: #1ba1e2; // Set a base color
$metroButtonColor: #8cbf26;

// Accent Colors
$blue: #049CDB;
$blueDark: #0064CD;
$green: #46a546;
$red: #9d261d;
$yellow: #ffc40d;
$orange: #f89406;
$pink: #c3325f;
$purple: #7a43b6;

// CSS reset
@import "reset";

// Core
@import "colors_mixins";
@import "scaffolding";

// Styled patterns and elements
@import "type";
@import "forms";
@import "tables";
// patterns for ui elements
@import "pattern_pagging";
@import "pattern_buttons";
@import "pattern_overlays";
@import "pattern_topbar";
@import "pattern_tabs_pills";

/* COMMON STYLES   
----------------------------------------------------------*/
.f_right {
	float: right;
}

.f_left {
	float: left;
}

.cleaner {
	clear: both;
}
/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

body {
    min-width: 530px;
}

.page {
	margin-left: auto;
	margin-right: auto;
}
#designers {
    width: 400px;

	margin: auto;
	margin-right: auto;

    .next_page {
        display: block;
        width: 400px;
        height: 100px;
        text-align: center;
        line-height: 100px;
	    font-size: 14px;
	    font-weight: 700;
        letter-spacing: 10px;
        background-color: black;
	    color: #3f3f3f;
        &:hover{
            background-color: #3f3f3f;
            color: black;
        }
    }

    .prev_page {
        display: block;
        width: 400px;
        height: 100px;
        text-align: center;
        line-height: 100px;
	    font-size: 14px;
	    font-weight: 700;
        letter-spacing: 10px;
        background-color: black;
	    color: #3f3f3f;
        margin-bottom: 20px;
        &:hover{
            background-color: #3f3f3f;
            color: black;
        }
    }

    article {
        background-color: #ffff73;
        margin-bottom: 20px;
        height: 200px;
        width: 400px;
        position:relative;
        *  {
            color:black; 
            white-space: nowrap;
            overflow: hidden;
        }
        img {
            position: absolute;
            left: 0px;
            top: 0px;
        }
        .img_hover {
            border-color: #ffff73;
        }
        .info {
            position: absolute;
            overflow: hidden;
            left: 200px;
            top: 0px;
            width: 200px;
            height: 200px;
            header {
                left: 200px;
                top: 0px;
                height: 78px;
                padding-top: 20px;
                h1 {
                    margin: 0px 20px 0 20px;
                    height: 19px;
                     @include metro-font(700,14px,19px);
                }
                h2 {
                    margin: 0 20px 0 20px;
                    height: 19px;
                    @include serif-font(normal,13px,19px);
                    font-style:italic;
                }
                a {
                    margin: 0 20px 0 20px;
                    height: 19px;
                    line-height: 19px;
                    @include serif-font(normal,13px,19px);
                    font-style:italic;
                    display: block;
                    text-decoration: underline;                    
                }
            }
            .mouse {
                background: transparent url("/Content/images/mouse.png") no-repeat left top;
                margin-bottom: 1px;
            }
            .tablet {
                background: transparent url("/Content/images/tablet.png") no-repeat left top;
            }
            .mouse, .tablet {
                height: 51px;
                display: block;
                padding-left: 68px;
                &:hover {
                    background-color: #dada60;
                    text-decoration: none;
                }
                span {
                    display: block;
                    font-size: 13px;
                    height: 15px;
                    line-height: 15px;
                }
                .brand {
                    padding-top: 10px;
                    font-size: 14px;
                    font-weight: 700;
                }
            }
        }
    }
    article:nth-child(2){
        background-color: #ffff40;
        .img_hover {
            border-color: #ffff40;
        }
        .mouse, .tablet {
            &:hover {
                    background-color: #dcdc35;
                }
        }
    }
    article:nth-child(3){
        background-color: #ffff20;
        .img_hover {
            border-color: #ffff20;
        }
        .mouse, .tablet {
            &:hover {
                    background-color: #dede2a;
                }
        }
    }
    article:nth-child(4){
        background-color: #ffff00;
        .img_hover {
            border-color: #ffff00;
        }
        .mouse, .tablet {
            &:hover {
                    background-color: #dcdc03;
                }
        }
    }
    article:nth-child(5){
        background-color: #b4f63d;
        .img_hover {
            border-color: #b4f63d;
        }
        .mouse, .tablet {
            &:hover {
                    background-color: #9ad138;
                }
        }
    }
    article:nth-child(6){
        background-color: #98ed00;
        .img_hover {
            border-color: #98ed00;
        }
        .mouse, .tablet {
            &:hover {
                    background-color: #84ce00;
                }
        }
    }
    article:nth-child(7){
        background-color: #70ed3b;
        .img_hover {
            border-color: #70ed3b;
        }
        .mouse, .tablet {
            &:hover {
                    background-color: #65d336;
                }
        }
    }
    article:nth-child(8){
        background-color: #00af64;
        .img_hover {
            border-color: #00af64;
        }
        .mouse, .tablet {
            &:hover {
                    background-color: #008d51;
                }
        }
    }
    article:nth-child(9){
        background-color: #00af64;
        .img_hover {
            border-color: #00af64;
        }
        .mouse, .tablet {
            &:hover {
                    background-color: #019958;
                }
        }
    }
    article:nth-child(10){
        background-color: #028e9b;
        .img_hover {
            border-color: #028e9b;
        }
        .mouse, .tablet {
            &:hover {
                    background-color: #047580;
                }
        }
    }
    article:nth-child(11){
        background-color: #1e6d74;
        .img_hover {
            border-color: #1e6d74;
        }
        .mouse, .tablet {
            &:hover {
                    background-color: #195c62;
                }
        }
    }
}

#header {
        background-color: white;
	    margin: 0;
	    padding: 0;
	    height: 124px;
}
#ajax_content{
    .actions {
        padding-left: 190px;
    }
}
#add-form {
    padding: 20px 20px 0 20px;
    h2 {
        text-align: center;
        @include serif-font(normal,18px,normal);
        font-style:italic;
    }
}

#top-header {
    h1 {
        text-align: center;
	    margin: 45px 0 15px 0;
        line-height: 42px;
	    font-size: 14px;
	    font-weight: 700;
        letter-spacing: 10px;
	    color: black;
	    text-transform: uppercase;
        span {
            background: transparent url("/Content/images/header-split.png") no-repeat left center;
            display: inline-block;
            height: 42px;
        }
        a {
            color: black;
            &:hover {
                color: black;
                text-decoration: none;
            }
        }
    }
    #social {
        height: 30px;
        line-height: 30px;
        margin-left: 5px;
    }
    h2 {
        color: white;
        background-color: black;
        text-align: center;
        clear: both;
        @include serif-font(normal,16px,normal);
        font-style:italic;
        height: 130px;
        line-height: 130px;
        .title:before{
            content: "";
            display: inline-block;
            background: transparent url("/Content/images/header-left.png") no-repeat left center;
            width: 70px;
            height: 23px;
            margin-bottom: -9px;
        }
        .title:after{
            content: "";
            display: inline-block;
            background: transparent url("/Content/images/header-right.png") no-repeat right center;
            width: 70px;
            height: 23px;
            margin-bottom: -9px;
        }
        .underscore {
            padding: 3px 0;
            border-bottom: 1px dotted #72721c;
        }
    }
}
#commands {
    line-height: 50px;
    height: 50px;
    position: relative;
    margin-bottom: 20px;
    .add {
        color: black;
        position: absolute;
        text-align: right;
        top: 0px;
        left: 0px;
        width: 50%;
        height: 50px;
        line-height: 50px;
        font-weight: 700;
        letter-spacing: 10px;
        margin-left: -2px;
        background-color: #fbf7f6;
        &:hover, *:hover {
            color: white;
            background-color: #c5de20;
            text-decoration: none;
        }
        span {
            display: inline-block;
            background: transparent url("/Content/images/add.png") no-repeat left center;
            width: 198px;
            text-align: left;
            line-height: 50px;
            strong {
                background-image: none;
                margin-left: 50px;
                line-height: 50px;
            }
        }
    }
    .search {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 50%;
        height:50px;
        margin-right: -2px;
        background-color: #fbf7f6;
        padding:0px;
        margin:0px;
        &:hover, *:hover {
            background-color: #0dd1cf;
        }
        .box {
            border: 0;
            margin: 0;
            padding: 0;
            background-color:transparent; 
            box-shadow: none;
            margin-left: 10px;
            width:155px;
            height:30px;
            line-height: 30px;
        }
        .submit {
            border: 0;
            margin: 0;
            padding: 0;
            background: transparent url("/Content/images/search.png") no-repeat center center;
            box-shadow: none;
            width:50px;
        }
    }
}

footer {
    text-align: center;
    color: white;
    background-color: black;
    padding-top: 40px;
    .authors {
        a {
            color: #3f3f3f;
        }
        font-size: 14px;
	    font-weight: 700;
        letter-spacing: 10px;
        height: 42px;
        line-height: 42px;
        span {
            background: transparent url("/Content/images/header-split.png") no-repeat left center;
            display: inline-block;
            height: 42px;
        }
    }
    .more {
        @include serif-font(normal,13px,normal);
        font-style:italic;
        height: 130px;
        line-height: 130px;
        .underscore {
            padding: 2px 0;
            border-bottom: 1px dotted #72721c;
        }
    }
}

#logindisplay {
	font-size:0.7em;
	display:block;
	text-align:right;
	padding: 5px 10px 0px 0px;

	a {
		&:link {
			color: silver;
			text-decoration: underline;
		}

		&:visited {
			color: silver;
			text-decoration: underline;
		}
		&:hover {
			color: black;
			text-decoration: none;
		}
	}
}
/* TAB MENU   
----------------------------------------------------------*/
#menucontainer {
	position: absolute;
	top: 3px;
	left: 10px;
}

#menu {
	padding: 0;
	position: relative;
	margin: 0;
	float: left;
	li {
		display: inline;
		list-style: none;
		font-size: 22px;
		a {
			padding: 5px 10px 5px 10px;
			text-decoration: none;
			color: silver;
			&:hover {
				font-size: 125%;
				color: black;
				text-decoration: none;
				@include transition(all .1s ease-in);
			}
			&:active {
				color: white;
				background-color: $metroButtonColor;
				text-decoration: none;
			}
		}
	}
	li.selected {
		a {
			font-size: 125%;
			color: black;
			&:hover {
				font-size: 135%;
				@include transition(all .1s ease-in);
			}
		}
	}
	li#greeting {
		padding: 0 20px;
		font-weight: bold;
		text-decoration: none;
		line-height: 30px;
	}
}

#title {
	display:block;
	float:left;
	text-align:left;
}