$bodyBackColor: #eaf2fd;
$backColor: White;
$mainColor: #1ba1e2;
$secondaryColor: #309b46;
$rareColor: #8cbf26;
$formBorder: #ccc;
$errorColor: #ff0000;
$pageHeight: 960px;
$baseFontSize: 16px;
$baseLineHeight: 1.6em;

// VARIABLES
// -------
$metroUI: true;

// Links
$linkColor: #1ba1e2;
$linkColorHover: darken($linkColor, 10);

// Griditude
$gridColumns: 16;
$gridColumnWidth: 40px;
$gridGutterWidth: 20px;
$extraSpace: 40px;
$siteWidth: ($gridColumns * $gridColumnWidth) + ($gridGutterWidth * ($gridColumns - 1));

// Baseline grid
$basefont: 16px;
$baseline: 22px;

// Color Scheme
$baseColor: #1ba1e2; // Set a base color
$metroButtonColor: #8cbf26;

// Accent Colors
$blue: #049CDB;
$blueDark: #0064CD;
$green: #46a546;
$red: #9d261d;
$yellow: #ffc40d;
$orange: #f89406;
$pink: #c3325f;
$purple: #7a43b6;

// CSS reset
@import "reset";

// Core
@import "colors_mixins";
@import "scaffolding";

// Styled patterns and elements
@import "type";
@import "forms";
@import "tables";
// patterns for ui elements
@import "pattern_pagging";
@import "pattern_buttons";
@import "pattern_overlays";
@import "pattern_topbar";
@import "pattern_tabs_pills";

/* COMMON STYLES   
----------------------------------------------------------*/
.f_right {
	float: right;
}

.f_left {
	float: left;
}

.cleaner {
	clear: both;
}
/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

body {
    min-width: 530px;
}

.page {
	margin-left: auto;
	margin-right: auto;
}
#designers {
    width: 400px;

	margin: auto;
	margin-right: auto;

    article {
        background-color: #ffff73;
        margin-bottom: 20px;
        height: 200px;
        width: 400px;
        position:relative;
        *  {
            color:black; 
            white-space: nowrap;
            overflow: hidden;
        }
        img {
            position: absolute;
            left: 0px;
            top: 0px;
            float: left;
        }
        .info {
            position: absolute;
            overflow: hidden;
            left: 200px;
            top: 0px;
            width: 200px;
            height: 200px;
            header {
                left: 200px;
                top: 0px;
                height: 78px;
                padding-top: 20px;
                h1 {
                    margin: 0px 20px 0 20px;
                    height: 19px;
                     @include metro-font(700,14px,19px);
                }
                h2 {
                    margin: 0 20px 0 20px;
                    height: 19px;
                    @include serif-font(normal,14px,19px);
                    font-style:italic;
                }
                a {
                    margin: 0 20px 0 20px;
                    height: 19px;
                    line-height: 19px;
                    @include serif-font(normal,14px,19px);
                    font-style:italic;
                    display: block;
                    text-decoration: underline;                    
                }
            }
            .mouse {
                background: transparent url("/Content/images/mouse.png") no-repeat left top;
                margin-bottom: 1px;
            }
            .tablet {
                background: transparent url("/Content/images/tablet.png") no-repeat left top;
            }
            .mouse, .tablet {
                height: 51px;
                display: block;
                padding-left: 68px;
                &:hover {
                    background-color: #c5de20;
                    text-decoration: none;
                }
                span {
                    display: block;
                    font-size: 14px;
                    height: 15px;
                    line-height: 15px;
                }
                .brand {
                    padding-top: 10px;
                    font-weight: 700;
                }
            }
        }
    }
}

#header {
        background-color: white;
	    margin: 0;
	    padding: 0;
	    height: 124px;
}
#ajax_content{
    .actions {
        padding-left: 190px;
    }
}
#add-form {
    padding: 20px 20px 0 20px;
    h2 {
        text-align: center;
        @include serif-font(normal,18px,normal);
        font-style:italic;
    }
}

#top-header {
    margin-bottom: 20px;
    h1 {
        text-align: center;
	    margin: 45px 0 0 0;
        line-height: 42px;
	    font-size: 14px;
	    font-weight: 700;
        letter-spacing: 10px;
	    color: black;
	    text-transform: uppercase;
        span {
            background: transparent url("/Content/images/header-split.png") no-repeat left center;
            display: inline-block;
            height: 42px;
        }
    }
    h2 {
        color: white;
        background-color: black;
        text-align: center;
        clear: both;
        @include serif-font(normal,16px,normal);
        font-style:italic;
        height: 130px;
        line-height: 130px;
        span:before{
            content: "";
            display: inline-block;
            background: transparent url("/Content/images/header-left.png") no-repeat left center;
            width: 70px;
            height: 23px;
            margin-bottom: -9px;
        }
        span:after{
            content: "";
            display: inline-block;
            background: transparent url("/Content/images/header-right.png") no-repeat right center;
            width: 70px;
            height: 23px;
            margin-bottom: -9px;
        }
    }
}
#commands {
    line-height: 50px;
    text-align: right;
    .add {
        color: black;
        float: right;
        width: 130px;
        height: 50px;
        line-height: 50px;
        font-weight: 700;
        letter-spacing: 10px;
        background: #fbf7f6 url("/Content/images/add.png") no-repeat 100px center;
        margin-right: 5px;
        &:hover, *:hover {
            color: white;
            background-color: #c5de20;
            text-decoration: none;
        }
        span {
            margin-right: 50px;
        }
    }
    .search {
        float: right;
        width:200px;
        height:50px;
        background-color: #fbf7f6;
        padding:0px;
        margin:0px;
        position:relative;
        &:hover, *:hover {
            background-color: #c5de20;
        }
        .box {
            border: 0;
            margin: 0;
            padding: 0;
            background-color:transparent; 
            box-shadow: none;
            width:130px;
            height:30px;
            line-height: 30px;
        }
        .submit {
            border: 0;
            margin: 0;
            padding: 0;
            background: transparent url("/Content/images/search.png") no-repeat center center;
            box-shadow: none;
            width:50px;
            height:30px;
            text-indent: 5000px;
        }
    }
}

footer {
    text-align: center;
    color: white;
    background-color: black;
    padding-top: 40px;
    .authors {
        a {
            color: #3f3f3f;
        }
        font-size: 14px;
	    font-weight: 700;
        letter-spacing: 10px;
        height: 42px;
        line-height: 42px;
        span {
            background: transparent url("/Content/images/header-split.png") no-repeat left center;
            display: inline-block;
            height: 42px;
        }
    }
    .more {
        @include serif-font(normal,13px,normal);
        font-style:italic;
        height: 130px;
        line-height: 130px;
    }
}

#logindisplay {
	font-size:0.7em;
	display:block;
	text-align:right;
	padding: 5px 10px 0px 0px;

	a {
		&:link {
			color: silver;
			text-decoration: underline;
		}

		&:visited {
			color: silver;
			text-decoration: underline;
		}
		&:hover {
			color: black;
			text-decoration: none;
		}
	}
}
/* TAB MENU   
----------------------------------------------------------*/
#menucontainer {
	position: absolute;
	top: 3px;
	left: 10px;
}

#menu {
	padding: 0;
	position: relative;
	margin: 0;
	float: left;
	li {
		display: inline;
		list-style: none;
		font-size: 22px;
		a {
			padding: 5px 10px 5px 10px;
			text-decoration: none;
			color: silver;
			&:hover {
				font-size: 125%;
				color: black;
				text-decoration: none;
				@include transition(all .1s ease-in);
			}
			&:active {
				color: white;
				background-color: $metroButtonColor;
				text-decoration: none;
			}
		}
	}
	li.selected {
		a {
			font-size: 125%;
			color: black;
			&:hover {
				font-size: 135%;
				@include transition(all .1s ease-in);
			}
		}
	}
	li#greeting {
		padding: 0 20px;
		font-weight: bold;
		text-decoration: none;
		line-height: 30px;
	}
}

#title {
	display:block;
	float:left;
	text-align:left;
}